html {
    height:100%;
    width:100%;
    background: black;
    overflow-x:hidden;
    padding:0px;
    color: #444; 
}

body {
    background: white;
    box-sizing: border-box;
    height:auto;
    min-height:100%;
    width:100%;
    padding:0px;
    overflow:hidden;
}


img:before { 
  content: " ";
  display: block;

  position: absolute;
  top: -5px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color:#3995ec;
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

img:after { 
  content: "?";
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);
  
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}



#page{
  background: white;
  box-sizing: border-box;
  height:auto;
  min-height:100%;
  padding:10px;
  max-width: 100%;
  min-width: 100%;
}

#top_menu {
  top:0px;
  width:100%;
  background:#3995ec;
  border-bottom:2px solid #bbb;
  z-index:20;
  display:none;
}

input.blue_input{
  background-color:#2f78bc;
  border: none;
  color:white;

}
input.blue_input::placeholder{
  color:#ddd;
}

.white_btn_icon{
  color:#fff;
}
.white_btn_icon:active{
  color:#ddd;
}

@media only screen and (max-width: 500px) {
 
  ::-webkit-scrollbar {
      display:none;
  }


  #top_content {
    width:100%;
    height:100%;
    background:#3995ec;
    display: grid;
    grid-template-columns: 60px auto 60px;
  }

  #bottom_menu {
    position:fixed;
    bottom:0px;
    width:100%;
    height:55px;
    background:#fff;
    border-top:2px solid #bbb;
    z-index:20;
    display:none;
  }

  .bottom_menu_item{
    height:55px;
    text-align:center;
    color:#888;
  }
}


#settings{
  display:none;
  position:absolute;
  top: 0; 
  background:red;
  opacity:0.5;
  width:100%;
  height:100%;
  z-index:200;
  overflow-y:scroll;
}

#account_icon{  
  border-radius:50%;
  border:2px solid white;
}


#account_menu_div{
  width:60px;
  height:60px;
  padding:20%;
  color:white;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#search_menu_div{
  color:white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: auto 10px;
  justify-content: center;
  text-align:end;
}

#search_icon_div{
  float: right;
}

#search_input_div{
  display:none;
}

#logo_menu_div{
  width:60px;
  height:60px;
  padding:20%;
  color:white;
  background-color:wh;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}


@media only screen and (min-width: 500px) {
  ::-webkit-scrollbar {
      width: 10px;
  }

  #bottom_menu {
    position:fixed;
    top:-300px;
    visibility:hidden;
  }

  #top_content {
    width:100%;
    height:100%;
    background:green;
    display: grid;
    grid-template-columns: 60px auto 60px;
  }
}



/* scrollbar */

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:200px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777; 
}


* {
    box-sizing: border-box;
    /* color: #444; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#start_logo {
  width:60%;
  max-width:90px;
}


#launch_screen {
  position: absolute;
  width:90%;
  max-width:300px;
  text-align:center;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);  
  display:none;
}

#home_screen{
  display:none;
}

#launch_screen_content{
  overflow:hidden;
  height:0px;
}

.mys_title {
  margin-top:20px;
  color: #919191;
  font-weight:bold;
}


.notification {
  text-align:center;
  padding:10px;
  position:fixed;
  width:90%;
  margin:5%;
  margin-top:3%;
  background-color: grey; 
}


